@font-face{
	font-family: RobotoCondensed;
	src: url(assets/roboto-condensed.light.ttf);
	font-weight: 800;
}
@font-face{
	font-family: EconomicaBold;
	src: url(assets/economica-bold.ttf);
}
body {
	text-align: center;
	font-size: 35px;
	padding: 2.5%;
	margin-top:10%;
	font-family: 'RobotoCondensed';
}

h1,h2,h3,h4,h5 {
	font-family: 'EconomicaBold';
}

.App{
	font-size: 70px;
}

.App-title{
	font-size: 50px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds{
	display: inline;
	font-size: 35px;
	margin: 10px;
}

.Input{
	font-size: 20px;
}